.cities-table {
padding: 4px;
border-collapse: collapse;
width: 100%;
}

.submit-container {
  display: flex;
  flex-direction: row-reverse;
}

.submit_button{
  flex: 0 0 auto;
  width: 100px;
  text-align: center;
}

td, tr, th {
  border: 2px solid black;
  text-align: center;
}

.text_Link:hover{
  color: purple;
}

tr > *:nth-child(1) {
  font-weight: bold;
}

.text_Link{
  text-decoration: underline !important;
}