:root {
  --light-blue: #0077B6;
  --dark-blue: #16558f;
  --white: #e5e5e5;
  --brown: #987654;
  --green: #00A86B;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

body {
  display: flex;
}

main {
  flex-grow: 1;
  padding: 50px 20px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 0px;
}

nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

nav > h1 {
  padding: 0px 20px;
  text-align: center;
}

nav > ul > li {
  border-top: 2px solid var(--dark-blue);
  text-align: center;
}

nav > ul > li:last-child {
  border-bottom: 2px solid var(--dark-blue);
}

a:visited,
a:link,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.header {
  display: inline-block;
  width: 260px;
  background-color: var(--light-blue);
  color: var(--white);
  border-right: 2px solid var(--dark-blue);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-green {
  background-color: var(--green);
}

.nav_link {
  padding: 10px 40px;
  border-top: 2px solid var(--dark-blue);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.nav_link_item {
  text-align: start;
}

.nav_link_item:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.nav_link_list {
  flex-grow: 1;
  margin: 0;
}

.nav_link_a {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px 40px;
  width: 100% !important;
  height: 100% !important;
}

.nav_link_a_span {
  display: block;
  padding-left: 10px;
}

.login-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
}

.login {
  margin: auto;
  width: 500px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  padding: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
}

.login > h1 {
  font-size: 24px;
  color: var(--dark-blue);
}

.form-element {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.form-element > label {
  color: var(--light-blue);
}

.form-element > input {
  width: 60%;
}

#email,
#password {
  font-size: 18px;
}

.form-element-btn {
  font-size: 18px;
  width: max-content;
  align-self: flex-end;
  padding: 5px 15px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--light-blue);
  color: var(--white);
}
