/* Added keyword alternatives in comments to ease search */
:root {
  --light-blue: #0077B6;
  --dark-blue: #16558f;
  --white: #e5e5e5;
  --brown: #987654;
  --green: #00A86B;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

body {
  display: flex;
}

main {
  flex-grow: 1;
  padding: 50px 20px;
}

.btn {
  height: 40px;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 0px 2px 2px 0px rgba(99, 99, 99, 0.3);
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  opacity: 0.95;
}


.btn-white {
  border: 1px solid var(--light-blue);
  background-color: var(--white);
  color: var(--dark-blue);
}

.btn-blue {
  background-color: var(--light-blue);
  color: var(--white);
  border: 1px solid var(--dark-blue);
}

/**************** NAV NAVIGATION *****************/

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

nav > h1 {
  padding: 0px 20px;
  text-align: center;
}

nav > ul > li {
  border-top: 2px solid var(--dark-blue);
  text-align: center;
}

nav > ul > li:last-child {
  border-bottom: 2px solid var(--dark-blue);
}

a:visited,
a:link,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.header {
  display: inline-block;
  width: 260px;
  background-color: var(--light-blue);
  color: var(--white);
  border-right: 2px solid var(--dark-blue);
  padding: 50px 0px;
  position: absolute;
  height: 100vh;
}

.bg-brown {
  background-color: var(--brown);
}

.bg-green {
  background-color: var(--green);
}

.nav_link {
  padding: 10px 40px 8px;
  border-top: 2px solid var(--dark-blue);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.nav_link_item {
  text-align: start;
}

.nav_link_item:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.nav_link_list {
  flex-grow: 1;
  margin: 0;
}

.nav_link_a {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px 40px;
  width: 100% !important;
  height: 100% !important;
}

.nav_link_a_span {
  display: block;
  padding-left: 10px;
}

/**************** END OF NAV NAVIGATION *****************/

/**************** LOGIN LOG IN *****************/

.login-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
}

.login {
  margin: auto;
  width: 500px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  padding: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
}

.login > h1 {
  font-size: 24px;
  color: var(--dark-blue);
}

.form-element {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.form-element > label {
  color: var(--light-blue);
}

.form-element > input {
  width: 60%;
}

#email,
#password {
  font-size: 18px;
}

.form-element-btn {
  font-size: 18px;
  width: max-content;
  align-self: flex-end;
  padding: 5px 15px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--light-blue);
  color: var(--white);
}

/**************** END OF LOGIN LOG IN LOG-IN *****************/


/**************** STORAGE INVENTORY MAIN PAGE *****************/

.storage-main {
  padding: 50px 100px 20px;
}

.storage-header {

}

.storage-subheader-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.storage-subheader {
  padding: 0;
  max-width: 400px;
}

.btn-export {
  flex-grow: 1;
}

.btn-create-report {
  flex-grow: 2;
}

.storage-subheader-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 300px;
}

.storage-summary {
  border: 1px solid var(--dark-blue);
  padding: 20px 40px;
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(99, 99, 99, 0.3);
}

.storage-summary-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-storage-get-snapshot {
  margin: 10px 0px 10px auto;
  padding: 0 40px;
}

.storage-summary-row-item {

}

/**************** END OF STORAGE INVENTORY MAIN PAGE *****************/
