<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../jquery/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Cities</title>

</head>

<body>
    <nav class="top_navigation">
        <a href="overview.html">Overview</a>
        <a href="resources.html">Resources</a>
        <a class="active" href="management.html">Management</a>
    </nav>
    <nav class="second_navigation">
        <a href="edit_city.html">Edit a City</a>
        <a class="active" href="add_city.html">Add a City</a>
    </nav>

    <br><br>
    <h2>Add a new City</h2>
    <br><br>

    <table><!-- *TODO finish -->
        <tr>
            <th>Category</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input class="input_addCity" type="text" name="name" id="name">
            </td>
        </tr>
        <tr>
            <td>Inhabitants:</td>
            <td>
                <input class="input_addCity" type="text" name="Inhabitants" id="Inhabitants">
            </td>
        </tr>
        <tr>
            <td>Employees:</td>
            <td>
                <input class="input_addCity" type="text" name="Employees" id="Employees">
            </td>
        </tr>
        <tr>
            <td>Geographic coordinates:</td>
            <td>
                <input class="input_addCity" type="text" name="Geographic" id="Geographic">
            </td>
        </tr>
        <tr>
            <td>Objects:</td>
            <td>
                <input class="input_addCity" type="text" name="Objects" id="Objects">
            </td>
        </tr>
        <tr>
            <td>Region:</td>
            <td>
                <input class="input_addCity" type="text" name="Objects" id="Objects">
            </td>
        </tr>
        <tr>
            <td>Contact person:</td>
            <td>
                <input class="input_addCity" type="text" name="Contact" id="Contact">
            </td>
        </tr>
    </table>

    <br>

    <p>
        <input class="submit" type="submit" value="submit">
    </p>

    
</body>

</html>