<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../jquery/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Cities</title>

</head>

<body>
    <nav class="top_navigation">
        <a class="active" href="overview.html">Overview</a>
        <a href="resources.html">Resources</a>
        <a href="management.html">Management</a>
    </nav>

    <p>
    <h1>
        Welcome to City Modul
    </h1>
    <h3>Click on
        <a class="text_Link" href="resources.html">Resources</a>
        for more information about employees and objects per city.
    </h3>
    <h3>Click on <a class="text_Link" href="management.html">Managment</a> for adding a city or changing its
        informations.</h3>
    </p>

    <p>
    <h2>Cities you can check:</h2>
    <table>
        <tr><!--*TODO link to city resources/Managemant-->
            <th>Beşiktaş</th>
            <td><a class="text_Link" href="resources.html">Resources</a></td>
            <td><a class="text_Link" href="management.html">Edit</a></td>
        </tr>
        <tr>
            <th>Pendik</th>
            <td><a class="text_Link" href="resources.html">Resources</a></td>
            <td><a class="text_Link" href="management.html">Edit</a></td>
        </tr>
    </table>

    </p>

</body>

</html>