<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../jquery/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Cities</title>

</head>

<body>
    <nav class="top_navigation">
        <a href="overview.html">Overview</a>
        <a class="active" href="resources.html">Resources</a>
        <a href="management.html">Management</a>
    </nav>

    <br><br>

    <table>
        <tr>
            <td>Choose a city for more informations:</td>
            <td>
                <select name="city" id="city">
                    <!-- *TODO get Citynames from database -->
                    <option value="Default">--- City:</option>
                    <option value="Beşiktaş">Beşiktaş</option>
                    <option value="Pendik">Pendik</option>
                </select> 
                
            </td>
            <td><input class="select_city" type="submit" value="Submit"></td>
        </tr>
    </table>

    <h2> Informations about the city: "..."</h2> <!-- *TODO: replace "city" with choosen city -->


    <table>
        <!-- *TODO get data -->
        <tr>
            <th>amount of employees</th>
            <th>amount of employees</th>
            <th>status</th>
        </tr>
        <tr>
            <td>250 000</td>
            <td>200</td>
            <td>green</td>
        </tr>

    </table>


</body>

</html>